body {
  margin: 0;
}

a {
  text-decoration: none;
  color: #0066c0;
}

section {
  padding: 10px;
  padding: 100px 0;
  z-index: 10;
  background-color: white;
}

section:nth-child(even) {
  background-color: #454545;
  color: white;
}

section h2 {
  text-align: center;
  font-family: "Indie Flower", cursive;
  font-size: 50px;
}

section p {
  text-align: center;
  font-family: "Kosugi Maru", sans-serif;
  font-size: 20px;
}

section a {
  color: aqua;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

/* background-image セクション*/

.bgimg {
  width: 500px;
  height: 500px;
  margin: 20px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  transition: all 0.5s;
  opacity: 0.8;
}

.bgimg:hover {
  transform: scale(1.05);
  opacity: 1;
}

.bgimg-1 {
  background-image: url(../images/man.jpg);
}

.bgimg-2 {
  background-image: url(../images/bird.jpg);
}

.bgimg-3 {
  background-image: url(../images/pumpkin.jpg);
}
.bgimg-4 {
  background-image: url(../images/woman.jpg);
}

/* imgタグ セクション */

.img-wrapper {
  width: 500px;
  height: 500px;
  margin: 20px;
  position: relative;
}

.img-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* background-attachment セクション */

.image-attachment {
  /* iPhone, iPadは非対応 */
  width: 100%;
  height: 800px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: url("../images/nature.jpg");
  background-attachment: fixed;
}

/* clip-path セクション */

.bgimg-5 {
  background-image: url("../images/jellyfish.jpg");
  clip-path: circle(50% at 50% 50%);
}

.bgimg-6 {
  background-image: url("../images/tradition.jpg");
  clip-path: polygon(
    40% 0%,
    40% 20%,
    100% 20%,
    100% 80%,
    40% 80%,
    40% 100%,
    0% 50%
  );
}

.bgimg-7 {
  background-image: url("../images/beach.jpg");
  clip-path: polygon(
    50% 0%,
    61% 35%,
    98% 35%,
    68% 57%,
    79% 91%,
    50% 70%,
    21% 91%,
    32% 57%,
    2% 35%,
    39% 35%
  );
}

.bgimg-8 {
  background-image: url("../images/calendar.jpg");
  clip-path: polygon(
    0% 0%,
    100% 0%,
    100% 75%,
    75% 75%,
    75% 100%,
    50% 75%,
    0% 75%
  );
}

/* フッター */

footer {
  /* height: 160px; */
  padding: 2rem;
  background-color: white;
}

footer p {
  height: 100%;
  font-size: 20px;
  text-align: center;
  color: black;
  margin: 0;
}

/* メディアクエリ */

@media screen and (max-width: 900px) {
  .bgimg {
    width: 400px;
    height: 400px;
  }

  .img-wrapper {
    width: 400px;
    height: 400px;
  }
  .image-attachment {
    background: none;
    height: 600px;
    width: 100%;
  }

  .attachment-section {
    background: none;
  }

  .attachment-section h2,
  .attachment-section p {
    color: white;
  }

  body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    display: block;
    height: 100vh;
    width: 100%;
    z-index: -1;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-image: url("../images/nature.jpg");
  }
}

@media screen and (max-width: 400px) {
  .bgimg {
    width: 300px;
    height: 300px;
  }

  .img-wrapper {
    width: 300px;
    height: 300px;
  }

  .image-attachment {
    height: 500px;
  }
}
