:root {
  --header-height: 80px;
}

body {
  margin: 0;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.header {
  box-sizing: border-box;
  position: fixed;
  width: 100%;
  /* height: 80px; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
  height: var(--header-height);
  background-color: #8bc6ec;
  background-image: linear-gradient(135deg, #8bc6ec 0%, #9599e2 100%);
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.8);
}

/* .header__inner {
  height: 100%;
} */

.toolbar {
  /* height: 140px; */
  height: var(--header-height);
}

.header__title {
  font-size: 22px;
  font-family: "Sawarabi Mincho", sans-serif;
}

.header__menu-icon {
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.content {
  display: flex;
  /* align-items: stretch; */
}

sidebar {
  max-width: 300px;
  min-width: 160px;
  min-height: calc(100vh - var(--header-height));
  background-color: #eee;
}

@media screen and (max-width: 960px) {
  sidebar {
    display: none;
  }
}

.sidebar__list {
  padding: 1rem;
}

.sidebar__list > li {
  padding-bottom: 1rem;
}

main {
  padding: 1rem;
  max-width: 1000px;
  margin: 0 auto;
}
