body {
  margin: 0;
  font-size: 20px;
}

.container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: stretch;
  justify-content: center;
  /* stretch, flex-end */

  background-color: lightyellow;
  height: 70vh;
  width: 100vw;
}

.container > div {
  position: relative;
  margin: 20px;
  width: 200px;
  /* height: 200px; */
}

.container p {
  font-size: 30px;
  position: absolute;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
}

.child-1 {
  background-color: aquamarine;
}

.child-2 {
  background-color: lightsalmon;
}

.child-3 {
  background-color: darkgoldenrod;
}

.child-4 {
  background-color: greenyellow;
}

.child-5 {
  background-color: darkorange;
}

.child-6 {
  background-color: aquamarine;
}

.child-7 {
  background-color: lightcoral;
}

.child-8 {
  background-color: darkorchid;
}
