.header {
  width: 100%;
  background-color: $secondary;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3000;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);

  &__inner {
    height: 6rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
  }

  &__title {
    font-size: 3rem;
  }
}

main {
  margin-top: 10rem; // height 6rem + paddin 4 rem
}
