h1 {
  color: red;
  text-decoration: underline;
}
h2 {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
}
h3 {
  background-color: black;
}
.span {
  background-color: yellow;
}

.box {
  background-color: aqua;
  width: 400px;
  height: 400px;
  border: 10px dashed black;
  padding: 30px;
}
.box-child {
  background-color: white;
  width: 100px;
  height: 100px;
  box-shadow: 20px 20px 40px rgba(0, 0, 0, 0.8);
}
