html {
  font-size: 62.5%; // 10px
}

body {
  margin: 0;
}

@media screen and (min-width: $xl) {
  html {
    font-size: 75%; // 12px
  }
}

@media screen and (max-width: $md) {
  html {
    font-size: 56.25%; // 9px
  }
}
