body {
  font-family: "Kosugi Maru", sans-serif;
  font-size: 1.6rem;
  line-height: 1.6;
}

.heading-primary {
  font-size: 5rem;
  text-align: center;
  font-family: "Itim", cursive;
}

.heading-secondary {
  font-size: 2.6rem;
  text-align: center;
}
