$primary: #1b435d;
// $primary-light: #b4cce3;
$secondary: #78bbe6;
$secondary-light: #d5eeff;
$accent: #f99f48;
$main-gray: #b6b6b6;
$main-white: #f7f7f7;
$twitter: #1da1f2;
$facebook: #3b5998;

$xl: 1920px;
$lg: 1280px;
$md: 960px;
$sm: 600px;
