body {
  margin: 0;
}

p {
  font-size: 22px;
  text-align: center;
}

.container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 600px;
  width: 100vw;
  background-color: lightcyan;
}

.child {
  height: 100px;
  width: 100px;
  margin: 10px;
}

.child1 {
  background-color: blue;
}

.child2 {
  background-color: red;
}
