// 参考リンク https://webparts.cman.jp/img/slideshow/
// JSが使えると、自由度は上がる

.gallary {
  &__slide {
    margin: 0 auto;
    width: 100%;
    max-width: 100rem;
    height: 70rem;
    position: relative;
    overflow: hidden;

    img {
      width: 100%;
      object-fit: cover;
      object-position: center;
      display: block;
      position: absolute;
      /* 画像のサイズを表示エリアに合せる */
      width: inherit;
      height: inherit;
      opacity: 0;
      animation: slideAnime 28s ease-in-out infinite;
    }

    img:nth-of-type(1) {
      animation-delay: 0s;
    }
    img:nth-of-type(2) {
      animation-delay: 7s;
    }
    img:nth-of-type(3) {
      animation-delay: 14s;
    }
    img:nth-of-type(4) {
      animation-delay: 21s;
    }
  }
}

@keyframes slideAnime {
  0% {
    opacity: 0;
  }
  1% {
    opacity: 1;
  }
  24% {
    opacity: 1;
  }
  25% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
