.profile {
  &__container {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
  }

  &__icon-box {
    background-image: url("../images/avatar.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    height: 30rem;
    width: 30rem;
    border-radius: 50%;
  }

  &__content-box {
    max-width: 50rem;
  }

  &__name {
    font-size: 3rem;
  }
}
