.section {
  min-height: 60rem;
  padding: 2rem;
  &:nth-child(even) {
    background-color: $secondary-light;
    h2 {
      color: $accent;
    }
  }
  &:nth-child(odd) {
    background-color: $main-white;
    h2 {
      color: $primary;
    }
  }
}
