.sns {
  position: relative;
  .sns-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    .twitter-icon {
      margin: 3rem;
      color: $twitter;
      font-size: 10rem;
    }

    .facebook-icon {
      margin: 3rem;
      color: $facebook;
      font-size: 10rem;
    }
  }
}
