.sns-box {
  display: flex;
  justify-content: center;

  .twitter-icon {
    margin: 1rem;
    color: $primary;
    font-size: 3rem;
  }

  .facebook-icon {
    margin: 1rem;
    color: $primary;
    font-size: 3rem;
  }
}
