.box {
  background-color: red;
  height: 200px;
  width: 200px;
}

@media screen and (min-width: 600px) {
  .box {
    width: 400px;
    background-color: lightskyblue;
  }
}

@media screen and (min-width: 900px) {
  .box {
    width: 600px;
    background-color: magenta;
  }
}

@media screen and (min-width: 1200px) {
  .box {
    width: 800px;
    background-color: limegreen;
  }
}

.box {
  background-color: black;
}

.heading1 {
  font-size: 40px;
}

/* @media screen and (min-width: 1201px) {
    .heading1 {
      font-size: 40px;
    }
  } */

@media screen and (max-width: 1200px) {
  .heading1 {
    font-size: 30px;
  }
}

@media screen and (max-width: 900px) {
  .heading1 {
    font-size: 20px;
  }
}

@media screen and (max-width: 600px) {
  .heading1 {
    font-size: 10px;
  }
}
