body {
  margin: 0;
  background-color: #ff9800;
  overflow: hidden;
}

h1 {
  font-size: 30px;
}

label {
  cursor: pointer;
}

.container {
  display: flex;
  width: 100vw;
  height: 100vh;
  margin: 0 auto;
}

.section-img {
  width: 60%;
  background-image: url("./image.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 0.95;
}

.section-form {
  width: 40%;
  position: relative;
  background-color: #fafafa;
}

.form-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.form-container p {
  margin: 0;
}

input,
textarea {
  outline: none;
  border: 1px solid #b6b6b6;
  border-radius: 5px;
  transition: all 0.3s;
  box-sizing: border-box;
  width: 100%;
  margin-bottom: 2rem;
}

input:focus,
textarea:focus {
  box-shadow: 0 0 7px #235180;
  border-color: 235180;
}

@media screen and (max-width: 900px) {
  .section-img {
    display: none;
  }

  .section-form {
    width: 100%;
  }

  h1 {
    font-size: 26px;
  }
}
