body {
  margin: 0;
  position: relative;
  background-color: lightcyan;
  width: 100vw;
  height: 100vh;
}

.child {
  width: 400px;
  height: 400px;
  background-color: red;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
